body{
  font-family: 'Gudea';
  padding:0;

}




.button a{
  text-decoration: none;
  color:black;
}

.button a:hover{
  text-decoration-line: underline;
}


.section{
  padding-left: 5%;
  padding-right:5%;
  padding-top:10%;
  /* padding-top:10%; */
  padding-bottom:10%;
  border-top-width: 0.15rem;
  /* border-top-style: solid; */
  border-top-color: black;
}

.insec{
padding:2%;
}


.proj{
  padding:10%;
}

/* app project */
.column{
width:30%;
padding:1%;
display:inline-grid;
}

.column img{
  width:90%;
  height:auto;
}

/* 3d project */
.large{
 padding:10%;
}

.large img{
  width:90%;
  height:50%;
}



h1{
  font-size: 2em;
  text-align: center;
}

h2{
  font-size: 1.75em;
}

h3{
  font-size: 1.5em;
  text-align: center;
}

h4{
  font-size: 1.5em;
  font-style: italic;
}

footer{
  padding-top:3%;
  background-color:rgb(233,238,240);
  text-align: center;
}
