@font-face{
    font-family:'Gudea';
    font-weight:normal;
    font-style:bold;
    src:url('../gudea/gudea-bold.ttf');
}

@font-face{
    font-family:'Gudea';
    font-weight:normal;
    font-style:normal;
    src:url('../gudea/gudea-regular.ttf');
}


