body{
  /* font-family: Futura, "Trebuchet MS", Arial, sans-serif; */
  padding: 3rem;
  margin: 1rem;
}

/* navigation bar */
.navbar{
  /* position:absolute; */
  /* padding-left:33.3%; */
  text-align: right;
  list-style-type: none;
  display: inline-block;
  float:right;
}

.navbar a {
	/* line-height: 1.3em; */
  text-decoration: none;
  color:black;
  padding:0.5em;

}


.navbar a:hover {
  text-decoration-line: underline;

}

/* header img text */
.bgimg{
  background-image: url("img_grey.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  text-align: center;
  color: black;
}


.textL{
  position: absolute;
    top: 5%;
    left:10%;
    float:left;
}

.section{
  padding-bottom: 10%;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

/* hover img change img */
.project {
        width: 130px;
        height: 195px;
        position: relative;
        display: inline-block;
        margin: 50px;
    }

.project .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }

.project:hover .img-top {
        display: inline;
    }
