body{
  font-family: 'Gudea';
}

/* navigation bar */
.navbar{
  list-style-type: none;
  display: inline-block;
  overflow:hidden;
}

.navbar a {
	/* line-height: 1.3em; */
  text-decoration: none;
  color:black;
  padding:0.5em;
  float:right;
  text-align: center;

}


.navbar a:hover{
  text-decoration-line: underline;
}


/* header img text */
.bgimg{
  background-image: url("img_grey.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
}

.container {
  position: absolute;
  width:auto;
}

.container img{
  width:100%;
  height:90%;
}

.textL{
  position: absolute;
    top: 5%;
    left:10%;
    float:left;
}

.section{
  padding-left: 2%;
  padding-right:2%;
  padding-bottom:10%;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

/* hover img change img */
.project {
        width: 130px;
        height: 195px;
        position: relative;
        display: inline-block;
        margin: 50px;
    }

.project .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }

.project:hover .img-top {
        display: inline;
    }
